<div class="principal">
  <div class="top">
    <h1>Pessoal</h1>
    <p>Gerencie informações de um usuario especifico</p>
  </div>
  <div class="forms">
    <div class="formTitle">
      <p style="font-size: 2em">🔎</p>
      <h3>Buscar Cliente</h3>
      <p>Insira os dados do cliente para ver suas ultimas operações</p>
    </div>
    <div class="formInputs">
      <div class="form">
        <label for="Nome">Email:</label>
        <input type="text" id="nome" name="Nome" [(ngModel)]="email" />
      </div>
      <div class="form">
        <label for="NCartao">Telefone:</label>
        <input type="text" id="nCartao" name="NCartao" [(ngModel)]="telefone" />
      </div>
    </div>
    <p class="mensagem" *ngIf="mensagem">{{mensagem}}</p>
    <div class="formsBtn">
      <button type="button" class="btnBusca" (click)="clicouBotao(telefone, email)">Buscar Cliente</button>
      <button type="button" class="btnLimpa" (click)="limparInfo()">Limpar Campos</button>
    </div>
  </div>
  @if (mostraInfos){

  <div class="cliente">
    <div class="dados">
      <div class="tituloDados">
        <h3 style="color: #262626">Transações Recentes</h3>
        <p style="color: #707070">Ultimas movimentações do sistema</p>
      </div>
      <div class="dadosUsur">
        <div class="dado">
          <label for="">Nome</label>
          <p>{{dadosCliente.nome}}</p>
        </div>
        <div class="dado">
          <label for="">Email</label>
          <p>{{dadosCliente.email}}</p>
        </div>
        <div class="dado">
          <label for="">Telefone</label>
          <p>{{dadosCliente.telefone}}</p>
        </div>
        <div class="dado">
          <label for="">Numero de cartões</label>
          <p>{{listaCartoes.length}}</p>
        </div>
      </div>
      <div class="curios" *ngIf="!global.selecionou">
        <div class="curiosidade">
            <p>{{listaTransacoes.length}}</p>
            <label for="">Numero de Operações</label>
        </div>
        <div class="curiosidade">
            <p>{{totalTransacoes}}</p>
            <label for="">Total Transferido</label>
        </div>
        <div class="curiosidade">
            <p>{{dadosCliente.valorMedioCompra}}</p>
            <label for="">Valor médio de Compra</label>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="infos">
        <h3 style="color: #262626">Transações do mes atual</h3>
        <p style="color: #707070">Ultimas movimentações do sistema</p>
      </div>
      <div class="table">
        <table>
          <thead style="background-color: #efefef">
            @if(global.selecionou === true){
             <tr>
              <th align="start">Cliente</th>
              <th align="start">Valor</th>
              <th align="start">Cartao</th>
              <th align="start">Data do pagm.</th>
              <th align="start">Tipo do Cartao</th>
            </tr>
          } @else {
            <tr>
              <th align="start">Valor</th>
              <th align="start">Data da Transacao</th>
              <th align="start">Descrição</th>
            </tr>
          }
          </thead>
          @if(global.selecionou === true){
            <tbody>
              <tr>
                <td align="start">{{transacao.cliente}}</td>
                <td align="start">{{transacao.valor}}</td>
                <td align="start">{{transacao.cartao}}</td>
                <td align="start">{{transacao.data}}</td>
                <td align="start">{{transacao.tipoCartao}}</td>
              </tr>
            </tbody>
          } @else {
            <tbody>
              <tr *ngFor="let dados of listaTransacoes">
                <td align="start">{{dados.valor}}</td>
                <td align="start">{{formatarDataTransacao(dados.dataTransacao)}}</td>
                <td align="start">{{dados.descricao}}</td>
              </tr>
            </tbody>
          }
        </table>
      </div>
    </div>
  </div>

  }
</div>