<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">
        <p class="icon">🏠</p>
        Home
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/pessoal">
        <p class="icon">👤</p>
        Pessoal
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/transacoes">
        <p class="icon">🏃‍♂️‍➡️</p>
        Menu
      </a>
    </li>
  </ul>
</nav>